.testimonials {
  padding-top: 200px;
}

.testimonialsContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.testimonialsBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.testimonialsBlockSubTitle {
  color: rgba(94, 98, 130, 1);
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  margin: 0px;
  text-transform: uppercase;
}

.testimonialsBlockTitle {
  color: rgba(20, 24, 62, 1);
  font-family: 'Volkhov';
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0%;
  margin: 0px;
  width: 410px;
  text-transform: capitalize;
}

.customerCard {
  border-radius: 10px;
  box-shadow:
    0px 100px 80px 0px rgba(0, 0, 0, 0.02),
    0px 64.81px 46.85185241699219px 0px rgba(0, 0, 0, 0.02),
    0px 38.52px 25.481481552124023px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 8.15px 6.518518447875977px 0px rgba(0, 0, 0, 0.01),
    0px 1.85px 3.1481480598449707px 0px rgba(0, 0, 0, 0);
  background: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 1;
  padding: 30px 65px 35px 35px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  will-change: transform, opacity;
  transition:
    transform 1s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.customerCardImg {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  left: -35px;
  top: -20px;
  z-index: 10;
  will-change: transform, opacity;
  transition:
    transform 1s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.swiperSlideCustom {
  overflow: visible !important;
  perspective: 1000px;
}

:global(.swiper-slide:not(.swiper-slide-active)) .customerCardImg {
  opacity: 0;
  transition: opacity 0.5s ease;
}

:global(.swiper-slide-active) .customerCardImg {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.customerCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}

.customerCardText {
  color: rgba(94, 98, 130, 1);
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  margin: 0px;
  width: 400px;
}

.customerInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.customerInfoName {
  margin: 0px;
  color: rgba(94, 98, 130, 1);
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
}

.customerInfoLocation {
  color: rgba(94, 98, 130, 1);
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  margin: 0px;
}
